
body {
  background-image: url(../img/space.jpg);
  background-size: cover;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0px;
  
}

.container div {
  margin: 0px;
  float: left;
  padding: 0px;
  transition: all 1s ease-in-out;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0px;
}

p {
  font-family: 'Corben', cursive;
  text-align: center;
  font-weight: 700;
  font-size: 1.9vw;
  margin: 0px 0px 0px 200px;
  padding: 0px;
  color: whitesmoke;
}
.beginning{
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(139, 139, 211), 0 0 5px rgb(123, 165, 221);
}
.end{
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(139, 139, 211), 0 0 5px rgb(123, 165, 221);
}

.part1 {
  left: 0px;
  top: 0px;
  justify-content: left;
  background-image: url('../img/door1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.part2 {
  right: 0px;
  top: 0px;
  justify-content: right;
  background-image: url('../img/door2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.container:hover .part1 {
  left: -600px;
}

.container:hover .part2 {
  right: -600px;
}

#homeBtn {
  position: absolute;
  margin-top: 0;
  margin-left: 0;
}

#homeBtn {
  -webkit-border-radius: 1.2vw;
  -moz-border-radius: 1.2vw;
  border-radius: 1.2vw;
  color: #FFFFFF;
  font-family: Courier New;
  font-size: 1.4vw;
  font-weight: 700;
  padding: 0.5vw;
  background-color: #3DD3F6;
  text-shadow: 0.1vw 0.1vw 1vw #000000;
  border: solid #FFFFFF 0.1vw;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

#homeBtn:hover {
  background:  #29C708;
  border: solid #FFFFFF 0.1vw;
  -webkit-border-radius: 1.2vw;
  -moz-border-radius: 1.2vw;
  border-radius: 1.2vw;
  text-decoration: none;
}