html , body{
  height: 100%;
  width: 100%;
}

#chooseCharacter {
  background: url(../img/selectCharacter.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#launchingRocket{
  background: url(../img/rocket.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#characterInsideShip{
  height:20%;
  left: 49.7%; 
  top: 30.7%;
  -webkit-transform: translate(-50%, 0); 
  transform: translate(-50%, 0);
  position: absolute;
}

#Title {
  color:whitesmoke;
  position: absolute;
  left: 33vw; 
  top:2vh;
  font-size: 3vw;
  font-weight:bold;
  font-family: "Courier New";
  color: #FFFFFF;
  text-shadow: -1px -1px 20px #09CEBD;
}

#pink {
  height:20%;
  margin-top: 33vh;
  margin-left: 5.5vw;
  position: absolute;
}
#green{
  height:20%;
  margin-top: 26vh;
  margin-left: 22vw;
  position: absolute;
}
#red{
  height:20%;
  margin-top: 36vh;
  margin-left: 38.5vw;
  position: absolute;
}
#orange{
  height:20%;
  margin-top: 28vh;
  margin-left: 53vw;
  position: absolute;
}
#blue{
  height:20%;
  margin-top: 36vh;
  margin-left: 70.5vw;
  position: absolute;
}

#white {
  height:20%;
  margin-top: 28vh;
  margin-left: 89vw;
  position: absolute;
}

#pink:hover,#red:hover,#blue:hover,#green:hover,#orange:hover,#white:hover{
  transform: scale(1.2); 
}

#startGameBtn{
  margin-top: 83vh;
  margin-left: 43vw;
}

#startGameBtn {
  -webkit-border-radius: 1.2vw;
  -moz-border-radius: 1.2vw;
  border-radius: 1.2vw;
  color: #FFFFFF;
  font-family: Courier New;
  font-size: 2vw;
  font-weight: 700;
  padding: 0.5vw;
  background-color: #3DD3F6;
  -webkit-box-shadow: -0.1vw 0.1vw 0.5vw 0 #FFFFFF;
  -moz-box-shadow: -0.1vw 0.1vw 0.5vw 0 #FFFFFF;
  box-shadow: -0.1vw 0.1vw 0.5vw 0 #FFFFFF;
  text-shadow: 0.2vw 0.2vw 0.5vw #000000;
  border: solid #FFFFFF 0.1vw;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

#startGameBtn:hover {
  background: #00FF7C;
  border: double #FFFFFF 0.1vw;
  -webkit-border-radius: 1.2vw;
  -moz-border-radius: 1.2vw;
  border-radius: 1.2vw;
  text-decoration: none;
}


#homeBtn{
  position: absolute;
  margin-top: 0;
  margin-left: 0;
}

#homeBtn {
  -webkit-border-radius: 1.2vw;
  -moz-border-radius: 1.2vw;
  border-radius: 1.2vw;
  color: #FFFFFF;
  font-family: Courier New;
  font-size: 1.4vw;
  font-weight: 700;
  padding: 0.5vw;
  background-color: #3DD3F6;
  text-shadow: 0.1vw 0.1vw 1vw #000000;
  border: solid #FFFFFF 0.1vw;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

#homeBtn:hover {
  background: #29C708;
  border: solid #FFFFFF 0.1vw;
  -webkit-border-radius: 1.2vw;
  -moz-border-radius: 1.2vw;
  border-radius: 1.2vw;
  text-decoration: none;
}