html , body{
    height: 100%;
    width: 100%;
}

body {
    justify-content: center;
    background-image:url('../img/starwars_bg1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.startwars-title{ 
    font-family: "Courier New";
    color: white;
    font-weight: 700;
    margin-left: 11vw;
    margin-top: 5vh;
    font-size: 6vw;
    text-shadow: -0.1vw -0.1vw 0.1vw rgba(255,255,255,.1), 0.1vw 0.1vw 0.1vw rgba(0,0,0,.5), -3vw 3vw 0.2vw rgba(206,134,0,0);  }

  .gif-img 
  {  
      width: 8vw;
  }


:root {
    font-size: 0.8vw;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    top:1vh;
    width: 17vw;
    height: 11vh;
    text-align: center;
    position: relative;
    transition: 0.2s;
    margin: 5vh;
}
nav li a {
    /* color: white; */
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5vw;
    line-height: 12vh;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    width: 17vw; 
    height: 2vh;
    display: inline-block;
   
}
nav li a:active {
    color:purple;
   
}
nav li a:visited {
    color:purple;
   
}

nav li::before,
nav li::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    transition: 0.3s;
}

nav li::before {
    background-color: white;
    z-index: -1;
    box-shadow: 0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.2);
}

nav li::after {
    background-color: rgb(35, 147, 175);
    transform: translate(1vw, 1vw);
    z-index: -2;
}

nav li:hover {
    transform: translate(1vw, 1vw);
    color: white;
}

nav li:hover::before {
    background-color:rgb(35, 147, 175);
}

nav li:hover::after {
    background-color:white;
    transform: translate(-1vw, -1vw);
}